.About {
  display: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 330px;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.smaller-heading1 {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 20px;
}

.smaller-heading2 {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 20px;
}

.smaller-heading3 {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 20px;
}

.smaller-heading4 {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 20px;
}
