.Experiences {
  display: inline-block;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 190px;
  padding-left: 130px;
}

.Experiences .title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 47px;
}

.Experiences ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.Experiences li {
  margin-bottom: 20px;
}

.Experiences h3 {
  margin-bottom: 5px;
}

.Experiences p {
  margin: 0;
}

.experiences-list .experience-item:hover {
  color: inherit;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

a.resume-btn-experiences {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

a.resume-btn-experiences:hover {
  background-color: #0056b3;
}

.dark a.resume-btn-experiences {
  background-color: #0e253d;
}

.dark a.resume-btn-experiences:hover {
  background-color: #123d6b;
}

.experience-image {
  width: 100px; 
  height: 100px; 
  margin-right: 20px;  
  border-radius: 1px; 
  object-fit: contain;
}